<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
      @if (emailInput.invalid) {
        <mat-error>Please enter a valid email.</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <input matInput name="password" ngModel type="password" placeholder="Password" #passwordInput="ngModel" required>
      @if (passwordInput.invalid) {
        <mat-error>Please enter a valid password.</mat-error>
      }
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit" *ngIf="!isLoading">Login
    </button>
  </form>
  <mat-card-footer>
    <div class="spacer-top wrapper">
      <h4>Don't have account?</h4>
      <button mat-button mat-stroked-button routerLink="/signup" routerLinkActive="mat-accent">Signup</button>
    </div>
  </mat-card-footer>
</mat-card>
