<mat-card>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title"
             [ngModel]="post?.title"
             required minlength="3"
             placeholder="Post Title"
             #title="ngModel">
      @if (title.invalid) {
        <mat-error>{{ errorMessageTitle }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <textarea matInput name="content" id="text1" cols="30" rows="4"
                [ngModel]="post?.content"
                required minlength="5"
                placeholder="Post Content"
                #content="ngModel"></textarea>
      @if (content.invalid) {
        <mat-error>{{ errorMessageContent }}</mat-error>
      }
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Post
    </button>
  </form>
</mat-card>

